@model PizzeriaTNAI.UI.ViewModels.BasketViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div>
        <h2>Basket</h2>
    </div>
    <table>
        @if (Model.BasketItems != null && Model.BasketItems.Count > 0)
        {
            foreach (var basketItem in Model.BasketItems)
            {
                <tr id="BasketLine-@basketItem.Product.ProductId">

                    <td>
                        @basketItem.Product.Name
                    </td>
                    <td>
                        Amount: <span id="@basketItem.Product.ProductId">@basketItem.Amount</span>
                    </td>
                    <td>
                        <img class="pizza-img" src="@basketItem.Product.PictureUrl" />
                    </td>
                    <td>
                        @String.Format("{0:0.##}", basketItem.Price) zł
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveFromBasket", "Basket"))
                        {
                            @Html.Hidden("ProductId", basketItem.Product.ProductId)
                            <input class="btn btn-sm btn-warning"
                                   type="submit" value="Delete" />
                        }
                    </td>

                </tr>
            }
        }
        else
        {
            <tr id="Basket-empty-message">
                <td>Your basket is empty </td>
            </tr>
        }
    </table>
    <div>
       
       
        To pay  <span id="TotalPriceValue">@String.Format("{0:0.##}", Model.TotalPrice) zł</span>
    </div>
    <div>
        @if (Model.TotalPrice > 0)
        {
            <button class="btn btn-primary" type="button"><a href="@Url.Action("Pay", "Orders")" class="w3-button w3-black">Pay<i class="fa fa-shopping-cart"></i></a></button>
            
        }
    </div>
</section>

