@model IEnumerable<PizzeriaTNAI.Entities.Models.Product>

@{
    ViewBag.Title = "Menu";
}

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div style="width: 18rem;" class="card border-dark m-4">
                <div class="card-header">
                    <img class="card-img-top w-100 pizza-img" src="@item.PictureUrl" alt="@item.Name image">
                </div>
                <div class="card-body">
                    <h4 class="card-title">@item.Name</h4>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer d-flex align-items-center align-content-center">
                    <a href="@Url.Action("AddToBasket", "Basket", new {id = item.ProductId})" class="text-white btn btn-primary">Buy Now <i class="fa fa-shopping-cart"></i></a>
                    <span class="pizza-price ml-auto"> Price: @item.Price zł</span>
                </div>
            </div>
        }
    </div>
</div>