@using Microsoft.AspNet.Identity
@model IEnumerable<PizzeriaTNAI.UI.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIPCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAdding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverallPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.UserId == User.Identity.GetUserId())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZIPCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.OrderId}) |
            </td>


        </tr>
    }
}

</table>
